
<div id="container">
  <img src="/img/burger.png">
  <h1>Eat-Da-Burger!</h1>

  <ul>
    {{#each burgers}}
      {{#unless devoured}}
        <li id="{{id}}" >
          #{{id}}: {{burger_name}}
          <button class="devour" data-id="{{id}}" data-devoured="{{devoured}}" type="button">Devour It!</button>
        </li>
      {{/unless}}
    {{/each}}
  </ul>

  <hr>
  <p>-----------------------------------------</p>
    <ul>
      {{#each burgers}}
        {{#if devoured}}
          <li>
            #{{id}}: {{burger_name}}
          </li>
        {{/if}}
      {{/each}}
    </ul>

  <form action="/api/burgers" method="POST">
    <label for="burgerInput">Add a burger!</label>
    <br>
    <input id="burgerInput" type="text" name="burger">
    <br>
    <button id="submit" type="submit">Submit</button>
  </form>
</div>